/* Background Images */

/* Background image styling assisted by Stack Overflow 
(https: //stackoverflow.com/questions/9182978/semi-transparent-color-layer-over-background-image) 
and Medium (https: //medium.com/@miguelznunez/how-to-easily-add-an-image-overlay-to-your-images-with-css-e354a79f530d)*/

body {
    
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("../images/background.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    padding-bottom: 45px;
}


/* Spacing */

.row {
    margin-bottom: 0;
}


/* Headings */

.heading {
    font-weight:500;
    font-size: 40px;
    color: #fafafa;
    margin: 35px;
    text-align: center;
        }

/* Body text */

.text {
    font-weight:400;
    font-size: 20px;
    color: #fafafa;
    margin: 35px;
    text-align: center;
    margin-bottom: 10px;
        }
        

/* Navbar text */
        
.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
        }

nav .right > li > a {
    font-size: 20px;
        }

/* Flash message text */
        
.flashes h4 {
    line-height: 2;
    color: #fafafa
        }


/* Recommendations Forms */

.row > .input-field > label {
    font-size: 20px; 
}

.row > .input-field > label[for="user"] {
    font-size: 25px; /* Adjust the default font size as needed */
}


/* View recommendations text */

.view-heading {
    font-weight:500;
    font-size: 60px;
    color: #fafafa;
    margin: 35px;
    text-align: left;
        }

.view-text {
    font-weight:400;
    font-size: 20px;
    color: #fafafa;
    margin: 35px;
    text-align: left;
        }   

.collapsible-header {
    font-size: 30px;
        }

.recommendation-list li {
    border: 1px solid #ccc; 
    padding: 10px; 
    margin-bottom: 10px; 
        }

.recommendation-list li a {
    margin-left: 30px; 
}

.recommendation-list li p {
    color: #000000;
}

.collapsible-body {
    background-color: #fafafa; 
    padding: 10px;
}

/* Labels on Add/Edit Recommendation forms*/ 

.input-field label {
    font-size: 20px; 
}

/* Profile page map */ 

#map { 
    height: 400px;
    margin-top: 10px;
}


/* Delete Confirmation Page */ 

.square-container {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square-card {
    width: 500px; 
    height: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.content-container {
    flex-grow: 1;
}

.delete-message {
    text-align: center;
    margin-bottom: 20px;
}


 /* Media query for small screens */
@media only screen and (max-width: 600px) {
    .brand-logo-custom {
        font-size: 18px !important;
    }

    #map {
        height: 300px; 
    }
    .view-heading {
        font-size: 35px; 
    }
    .waves-effect {
        margin-bottom: 10px; 
    }
    .row > .input-field > label {
        font-size: 15px; 
    }
    
    .row > .input-field > label[for="user"] {
        font-size: 15px; 
    }
}



