{% extends "base.html" %}
{% block content %}

    <div class="row card-panel grey lighten-5 col-12">
        <div>
            <h2 class="center-align">
                Error 404! 
            </h2>
            <h4 class="center-align">
                Oops! Looks like something went wrong! 
            </h4>
        </div>
        <div class="center-align">
            <a href="{{ url_for('home_page') }}" class="waves-effect waves-light btn-small teal lighten-1-text text-darken-4">Take me home!</a>
        </div>
    </div>
   

{% endblock %}