{% extends "base.html" %}
{% block content %}

    <h3>Add Recommendation</h3>

    <div class="row">
        <form class="col s12" method="POST" action="">

            <!-- User Name (Prefilled with the currently logged-in user) -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle teal lighten-1-text"></i>
                    <input id="user" name="user" type="text" class="validate" required value="{{ session['user'] }}" readonly>
                    <label for="user">Your Name</label>
                </div>
            </div>

            <!-- City Name -->
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-city teal lighten-1-text"></i>
                    <select id="category" name="category" required>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">New York City</option>
                        <option value="2">Bangkok</option>
                    </select>
                    <label for="category">City Name</label>
                </div>
            </div>

            <!-- Recommendation Category (Materialize Select) -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-list-alt teal lighten-1-text"></i>
                    <select id="category" name="category" required>
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1">Things to do</option>
                        <option value="2">Where to stay</option>
                        <option value="3">What to eat</option>
                    </select>
                    <label for="category">Recommendation Category</label>
                </div>
            </div>

            <!-- Comment -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-comment teal lighten-1-text"></i>
                    <textarea id="comment" name="comment" class="materialize-textarea" required></textarea>
                    <label for="comment">Your Recommendation</label>
                </div>
            </div>

            <!-- Submit Button -->
            <div class="row">
                <button class="btn waves-effect waves-light teal lighten-1" type="submit">Submit Recommendation
                    <i class="fas fa-paper-plane right teal lighten-1-text"></i>
                </button>
            </div>
        </form>
    </div>

{% endblock %}
