{% extends "base.html" %}
{% block content %}

<div class="text">
    <p>
        Welcome to The Jetsetters Journal!
        <br>
        <br>
        Explore the wonders of the world with your ultimate travel companion. Sign up now to share your top travel tips 
        or start searching for recommendations below without an account.
    </p>
</div>
<div>
    <ul class="collapsible">
        {% for category, recommendations in grouped_recommendations.items() %}
            <li>
                <div class="collapsible-header white-text teal lighten-1 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    {{ category }}
                </div>
                <div class="collapsible-body">
                    <ul class="recommendation-list">
                        {% for recommendation in recommendations %}
                            <li>
                                <p class="view-text"><strong>User:</strong> {{ recommendation.user }}</p>
                                <p class="view-text"><strong>City:</strong> {{ recommendation.city_name }}</p>
                                <p class="view-text">{{ recommendation.comment }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
