{% extends "base.html" %}
{% block content %}

<div class="text">
    <p>
        Welcome to The Jetsetters Journal!
        <br>
        <br>
        Explore the wonders of the world with your ultimate travel companion. Sign up now to share your top travel tips 
        or start searching for recommendations below without an account.
    </p>
</div>
<div class="row card-panel grey lighten-5 search-card">
    <h6 class="center-align black-text text-darken-4 search-header">Search by username, category or city name.</h6>
    <form action="{{ url_for('home_page') }}" method="POST" class="col s12 search-form">
        <div class="row valign-wrapper center-align">
            <div class="input-field col s12" id="search-div">
                <i class="fas fa-search prefix light-blue-text text-darken-4 search-icon"></i>
                <input type="text" name="query" id="query" minlength="3" class="validate" required>
                <label for="query" class="label-text">Search</label>
            </div>
        </div>
        <div class="row valign-wrapper right-align">
            <div class="col s12 m6">
                <a href="{{ url_for('home_page') }}" class="red btn"></i> Reset</a>
                <button type="submit" class="light-blue darken-1 btn">Search</button>
            </div>
        </div>
    </form>
</div>
<div>
    <ul class="collapsible">
        {% for category, recommendations in grouped_recommendations.items() %}
            <li>
                <div class="collapsible-header white-text teal lighten-1 text-shadow">
                    <i class="fas fa-caret-down"></i>
                    {{ category }}
                </div>
                <div class="collapsible-body">
                    <ul class="recommendation-list">
                        {% for recommendation in recommendations %}
                            <li>
                                <p class="view-text"><strong>User:</strong> {{ recommendation.user }}</p>
                                <p class="view-text"><strong>City:</strong> {{ recommendation.city_name }}</p>
                                <p class="view-text">{{ recommendation.comment }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}



