{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <h1>{{ city_data.name }}</h1>
            <p>Country: {{ city_data.country }}</p>
            <p>Description: {{ city_data.description }}</p>
            <img src="#" alt="#" width="300">

            <!-- Display recommendations -->
           <h2>Recommendations</h2>
          
           <ul class="collapsible">
                {% for category, recommendations in grouped_recommendations.items() %}
                    <li>
                        <div class="collapsible-header white-text teal lighten-1 text-shadow">
                            <i class="fas fa-caret-down"></i>
                            {{ category }}
                        </div>
                        <div class="collapsible-body">
                            <ul>
                                {% for recommendation in recommendations %}
                                    <li>
                                        <p>{{ recommendation.user }}</p>
                                        <p>{{ recommendation.comment }}</p>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>

            <a href="{{ url_for('profile', username=session['user']) }}">Back to Profile</a>
        </div>
    </div>

{% endblock %}